html{
    font-size: 16px;
}

body {
    background-color: #F9F7F4;
}
    
* {
    font-family: "Roboto";
    font-style: normal;
}

a {
    color: #FFFFFF;
}

.p-big{
    font-size: 23px;
    font-weight: 700;
    line-height: 122%; 
}

.p-normal {
    font-size: 20px;
    font-weight: 400;
    line-height: 142%;
}
    
.p-small {
    font-size: 17px;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: 0;
}
    
.h1 {
    font-size:5vw;
    font-weight: 700;
    line-height: 109%;
    letter-spacing: 2px;
}

h2{
   /* margin-top: 56px;
    padding-top: 79px;
    margin-bottom: 32px;*/
    color:#1B1F2B;
    text-align: center;
    font-size:59px;
    font-weight: 700;
    line-height: 124%;
   /* -webkit-background-clip: content-box;
    background-clip: content-box;*/
}

.h3{
    font-size: 35px;
    font-weight: 500;
    line-height: 122%;
}

.scrolled {
    position: fixed;
    margin-bottom: 88px;
    background-color: rgba(243, 239, 232, 0.6);
    backdrop-filter: blur(54px);
}

.heading-nav__option-text{
    color:white;
}

.black-color {
    filter: invert(100%);
}

.black-headingText .heading-nav__option a {
    color: black;
}

.black-headingText  .heading-nav__option a:hover::after {
    width: 100%;
    background-color: black;
}

.common_container{
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    margin-top: 134px; 
}

.choose_tour__title {
    margin-bottom: 36px;
}
.form_title{
    margin-bottom: 32px;
}
.reviews_title{
    margin-bottom: 32px;
}
.photos_title{
    margin-bottom: 32px;
}
.stories_title{
    margin-bottom: 32px;
}


.form_subtitle,
.reviews_subtitle,
.stories_subtitle,
.photos_subtitle
{
    margin-bottom: 99px;
    text-align: center;
    align-items: center;
    color: #A6A6A6;
}

.reviews_subtitle{
    margin-bottom: 99px;
}

.stories_subtitle{
    margin-bottom: 98px;
}

.photos_subtitle{
    margin-bottom:98px;
}




@media screen and (min-width:768px) and (max-width:1240px) {
   
    .common_container{
        max-width:1040px;
        padding: 0 53px;
    }

    .h1 {
        font-size:96px;
    }

    .h2{
      /*  margin-bottom: 36px;*/
    } 

    .choose_tour__title {
        margin-bottom: 36px;
    }
    .form_title{
        margin-bottom: 30px;
    }
    .reviews_title{
        margin-bottom: 32px;
    }
    .photos_title{
        margin-bottom: 32px;
    }
    .stories_title{
        margin-bottom: 32px;
    }

    .form_subtitle    
    {
        margin-bottom: 101px;
    }

    .reviews_subtitle{
        margin-bottom: 98px;
    }

    .stories_subtitle{
        margin-bottom: 98px;
    }

    .photos_subtitle{
        margin-bottom:98px;
    }

    .choose_tour__card_title br {
        display: none; 
    }
}

@media screen and (max-width:768px){
        
   .common_container{
        max-width:760px;
        padding: 0 21px;
        margin-top: 75px; 
    }

    .p-big{
        font-size: 16px;
        font-weight: 700;
        line-height: 142%; 
    }

    .p-normal {
       font-size: 16px; 
    }
    
    .p-small {
        font-size: 16px;
        letter-spacing: 0;
    }

    .h1 {
        font-size: 9.5vw;
        line-height: 112%; 
        letter-spacing: 1px;
    }

    .h2{
       /* margin-top: -3px;
        margin-bottom: 34px; */
        font-size:34px; 
        line-height: 112%;
        letter-spacing: 1px;
    }

    .h3{
        font-size: 23px;
        font-weight: 700;
        line-height: 120%; 
        letter-spacing: 1px; 
    }

    .choose_tour__title {
        margin-bottom: 32px;
    }
    .form_title{
        margin-bottom: 23px;
    }
    .reviews_title{
        margin-bottom: 22px;
    }
    .photos_title{
        margin-bottom: 22px;
    }
    .stories_title{
        margin-bottom: 22px;
    }

  

    .form_subtitle
    
{
    margin-bottom: 40px;
}
.reviews_subtitle,
.photos_subtitle,
.stories_subtitle
{
    margin-bottom: 48px;
}

   
}