html{
    font-size: 16px;
}

body {
    background-color: #F9F7F4;
}
    
* {
    font-family: "Roboto";
    font-style: normal;
}

a {
    color: #FFFFFF;
}

.p-big{
    font-size: 23px;
    font-weight: 700;
    line-height: 122%; 
}

.p-normal {
    font-size: 20px;
    font-weight: 400;
    line-height: 142%;
}
    
.p-small {
    font-size: 17px;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: 0;
}
    
.h1 {
    font-size:5vw;
    font-weight: 700;
    line-height: 109%;
    letter-spacing: 2px;
}

.h2{
    margin-top: 56px;
    padding-top: 79px;
    color:#1B1F2B;
    text-align: center;
    font-size:59px;
    font-weight: 700;
    line-height: 124%;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

.h3{
    font-size: 35px;
    font-weight: 500;
    line-height: 122%;
}

.scrolled {
    position: fixed;
    margin-bottom: 88px;
    background-color: rgba(243, 239, 232, 0.6);
    backdrop-filter: blur(54px);
}

.heading-nav__option-text{
    color:white;
}

.black-color {
    filter: invert(100%);
}

.black-headingText .heading-nav__option a {
    color: black;
}

.black-headingText  .heading-nav__option a:hover::after {
    width: 100%;
    background-color: black;
}

.common-container{
    margin: 0 auto;
    width: 100%;
    max-width: 1170px; 
    /*background-color: pink;*/
    padding-bottom: 135px; 
}

@media screen and (min-width:768px) and (max-width:1240px) {
   
    .common-container{
        max-width:1040px;
        padding: 0 53px;
        padding-bottom: 135px; 
    }

    .h1 {
        font-size:96px;
    }

    .h2{
        margin-top: 50px;
        padding-top: 85px;
    } 
}

@media screen and (max-width:768px){
        
   .common-container{
        max-width:760px;
        padding: 0 21px;
        padding-bottom: 75px;
    }

    .p-big{
        font-size: 16px;
        font-weight: 700;
        line-height: 142%; 
    }

    .p-normal {
       font-size: 16px; 
    }
    
    .p-small {
        font-size: 16px;
        letter-spacing: 0;
    }

    .h1 {
        font-size: 9.5vw;
        line-height: 112%; 
        letter-spacing: 1px;
    }

    .h2{
        margin-top: -3px;
        font-size:34px; 
        line-height: 112%;
        letter-spacing: 1px;
    }

    .h3{
        font-size: 23px;
        font-weight: 700;
        line-height: 120%; 
        letter-spacing: 1px; 
    }
}