
    .heading_container {
        width: 1170px;
        max-width: 100%;
        margin: 0 auto;
    }
        
    .heading {
        top:0;
        left:0;
        right: 0;
        z-index: 4;
        position:absolute;
        display: flex;
        height: 88px;
       /* margin-bottom: -11vh;*/
        align-items: center;
    }
        
    .heading .heading_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .heading__logo-img {
        width: 100%;
        height: 100%;
       
    }
        
    .heading_nav__list {
        position: relative;
        display: flex;
        align-items: center;
        list-style: none;
    }

    .heading_nav__option {
        margin-top: 2px;   
    }
        
    .heading_nav__option:last-child {
        margin-right: 0;
    }

    .heading_nav__option a::after {
        display: block;
        width: 0;
        height: 1px;
        content: "";
        transition: width 0.2s ease-in-out;
    }
    .heading_number{
        color: white;
    }
  

    @media screen and (min-width: 1240px){

        .heading_nav__option a:hover::after {
            width: 100%;
            background-color: white;
        }
           
        .heading_nav__option {
            margin-right: 50px;
        }
    }
    
     @media screen and (min-width: 860px)and (max-width:1240px){

        .heading_container {
            padding: 0 53px;
        }

        .heading_nav__option {
           margin-right: 2rem;
        }  
    }

    @media screen and (min-width: 768px)and (max-width:860px){ 

        .heading_container {
            padding: 0 53px;
        }

        .heading_nav__list {
            display: none;
        } 
    }

    @media screen and (max-width:767px){
        
        .heading_container {
           padding: 0 21px;
        }

        .heading_logo {
            width: 133px;
            height: 22px;
        }

        .heading_nav__list {
            display: none;
        }
        
        .heading {
            margin-bottom: -18vh;  
        } 
    }  
   
    
