input[placeholder]          {text-indent: 20px;   transition: text-indent 0.3s ease;}
input::-moz-placeholder     {text-indent: 20px;   transition: text-indent 0.3s ease;} 
input:-moz-placeholder      {text-indent: 20px;   transition: text-indent 0.3s ease;} 
input:-ms-input-placeholder {text-indent: 20px;   transition: text-indent 0.3s ease;}  

.box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CommonAttributes{
    font-family: 'Roboto';
    font-style: normal;
    color: #1B1F2B;
    font-weight: 700;
}

.ChooseTour-title{
    margin-top: 136px;
    font-size: 59px;
    line-height: 124%;
}
.ChooseTour-options{
    display:  flex;
    list-style-type:none;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    line-height: 122%;
    font-size: 23px;
    margin-top: -36px;
    padding:0px;
    align-items: center;
}
  
.ChooseTour-options-option{
   display: inline;
   margin-left:15px;
   margin-right: 15px;
}
.ChooseTour-option__label{
    cursor: pointer;   
}
.ChooseTour-option__input{
    display: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
#ChooseTourOp input[type="radio"]:checked + .ChooseTour-option__label {
    border-bottom: 3px #EFA501 solid;
    color: #EFA501;
    text-decoration:none;
}

#ChooseTourOp input[type="radio"]:checked + .ChooseTour-option__label:first-of-type {
    border-bottom: 3px #EFA501 solid;
    color: #EFA501;
    text-decoration:none;
    padding-bottom: 7px;
    padding-top: 7px;
}
.ChooseTour-options-option:hover{
    text-decoration:none;
    cursor: pointer;   
    border-bottom: 3px #1B1F2B  solid; 
}

.ChooseTour-options-option:active {
    border-bottom: 3px #EFA501 solid;
    color: #EFA501;
    text-decoration:none;
}
/*
.TourMenu{
    margin-top: 36px;
    font-size: 23px;
    line-height: 122%;
    height:28px;
    margin-bottom: 30px;
    color:#1B1F2B;
    font-weight: 700;
}
.TourMenu__width{
    display:  flex;
    flex-wrap: wrap;
    width:702px;
    list-style-type: none;
   
}
#mainmenu input[type="radio"] {
    display: none;
}
  
#mainmenu label {
    display: inline-block;
    padding-top: 7px;
}
#mainmenu input[type="radio"]:checked + label {
      border-bottom: 3px #EFA501 solid;
      color: #EFA501;
      text-decoration:none;
      padding-bottom: 7px;
      

}

#mainmenu input[type="radio"]:checked + label:first-of-type {
      border-bottom: 3px #EFA501 solid;
      color: #EFA501;
      text-decoration:none;
      padding-bottom: 7px;
      padding-top: 7px;
}

.TourMenu__left{
    margin-left: 30px; 
}
.TourMenu__second-row-left{
    margin-left: 32px; 
}
.TourMenu__right{
    color:#1B1F2B;   
}

.TourMenu__right:hover{
    text-decoration:none;
    cursor: pointer;   
    border-bottom: 3px #1B1F2B  solid; 
}

.TourMenu__right:active {
    border-bottom: 3px #EFA501 solid;
    color: #EFA501;
    text-decoration:none;
}

*/
.ChooseTour-cards{
    margin-left:auto;
    margin-right: auto;
    position: relative; 
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px; 
    }

.ChooseTour-card{
    position: relative; 
    object-fit: cover;
    overflow: hidden;
    border-radius: 45px; 
    height: 531px;
    width: 370px;
}
.ChooseTour-sacal{
    max-width: 100%;
    transition: transform 0.3s;
    cursor: pointer; 
}

.ChooseTour-sacal:hover .choose-card__img {
    transform: scale(1.2);
}
.ChooseTour-sacal::after{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    border-radius: 45px; 
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
    content:'';
}

.ChooseTour-card__title {
    position: absolute;
    width: 240px;
    height: 86px;
    font-weight: 500;
    font-size: 35px;
    line-height: 122%;
    color: #FFFFFF;
    top: 3px; 
    left: 50px;  
    z-index: 3;
}
.ChooseTour-card__price{
    position: absolute;
    font-weight: 400;
    font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;    
    color: #FFFFFF;
    top: 135px; 
    left: 50px;
    z-index: 3;
}
.ChooseTour-card__button{
    position: absolute;
    z-index:3;
    border-radius: 50px;
    font-size: 23px;
    line-height: 122%;
    color: #FFFFFF;
    top: 447px;
    border:none;
    background: none;
    padding: 7px 20px;
    left:30px;
}
.ChooseTour-card__button-icon{
    padding-left: 10px;  
}
.ChooseTour-sacal:hover .ChooseTour-card__button{
    background:  #286562;
    cursor: pointer; 
  }

.ChooseTour-sacal:active .ChooseTour-card__button:active{
    background: #EFA501;
}


.Form-title{
    margin-top: 136px;
    margin-bottom: 0px;
    font-size: 59px;
    line-height: 124%;
}
.Form-subtitle{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 29px;
    width:405px;
    height: 56px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    color: #A6A6A6;
}
form{
    margin-left: auto;
    margin-right: auto;
    padding: 70px;
    background: #FFFFFF;
    border-radius: 50px;
    margin-top: 102px;
    max-width: 1030px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap:33px;
    row-gap: 30px;
    
}
form label {
    display: block;
    
}
form p {
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    margin-top: 0px;
    margin-bottom: 0px;
}
input, select, textarea, option{
    width: 100%;
    height:68px;
    margin-top: 7px; 
    border: 1px solid #F4F0E9;
    background: #F9F7F4;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    color:#1B1F2B;
}

select{ 
    padding-left: 18px;
    color:#A6A6A6;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding-right: 1em;
    background-repeat: no-repeat;
    background-position: calc(100% - 1em) 1.2em;
    background-size: 26px 26px;
    background-image: url("../img/ic-dropdown.png");
}
select:hover,select:active, select:focus{
    outline: 1px solid #F4F0E9;
    background: #F4F0E9;
    padding-right: 1em;
    background-repeat: no-repeat;
    background-position: calc(100% - 1em) 1.2em;
    background-size: 26px 26px;
    background-image: url("../img/ic-dropdown.png");
}
select:focus{
    color: #1B1F2B;
}
option:checked{
    color: #3B7E7B;
}
input[type=date] {
    text-indent: 9px;
    margin-top: 8px; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    text-transform: uppercase;
}

input[type = date]:invalid::-webkit-datetime-edit { color:#A6A6A6;}
input[type = date]::-webkit-calendar-picker-indicator{ display: none; }
input[type = date]:hover, select:hover{cursor: pointer;}
input[type = date]:focus{color: #1B1F2B;}

textarea{
    padding: 20px;
    height:112px; 
    width: 990px;
}

input:hover, textarea:hover, input:focus,textarea:focus,input:active,textarea:active{
    outline: 1px solid #F4F0E9;
    background: #F4F0E9;
}

.Form__label-textarea{
    grid-column: 1 / 3;
}
.Form__TitleAges{
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
   /* grid-gap: 33px;*/
    font-size: 20px;
    grid-column: 1 / 3;
}
.Form__radiobutton{
    position:relative;
   margin-top: -25px;
}
.Form__radiobutton-position-yes{
        position: absolute;
}
.Form__radiobutton-position-no{
    margin-left: 94px;
    width: 50px;
}
.Form__radio-input{
    display: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;  
    cursor: pointer;
   
}
.Form__radio-label{
    font-weight: 400;
    font-size: 20px;
    line-height: 142%; 
    margin-left: 38px;
    cursor: pointer;
    margin-top: -2px;
    
}
.Form__radio-label::before{
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    background-color: #FFFFFF;
    left: 1px;
    top: 0;
    z-index: 1;
}
.Form__radio-label::after{
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #1B1F2B;
  opacity: 0;
  position: absolute;
  left: 7.2px;
  top: 6px;
  z-index: 2;
}
.Form__radio-input:checked + .Form__radio-label:after{
  opacity: 1;
}
.Form__checkbox{
    grid-column: 1 / 3;
}
.Form__checkbox-input{
    display: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    
}
.Form__checkbox-label{
    position: absolute;
    font-weight: 400;
    font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;
    color: #A6A6A6;
    padding-left: 45px;
    padding-top: 1px;
}

.Form__checkbox-label:before{
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    background-color: #FFFFFF;
    left: 1px;
    top: 1px;
    z-index: 1;
}
.Form__checkbox-label:after{
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background-image: url("../img/radiobutton (1).png");
    background-size: 25px 25px ;
    opacity: 0;
    position: absolute;
    left: 1px;
    top: 1px;
    z-index: 2;
}

.Form__checkbox-input:checked + .Form__checkbox-label:after{
    opacity: 1;
}
.Form__checkbox-label:hover,.Form__Radio-Text:hover, .Form__Ages:hover, .Form__checkbox-input:hover {
    cursor: pointer;
}
 
.Form__checkbox-agree-part2{
    color: #1B1F2B;
}
.Form__checkbox-agree-part2:hover{
    text-decoration:underline;
}
.Form__checkbox-agree-part2:active{
    color: #286562;
    text-decoration:underline;
}

.Form__button{
    width: 235px;
    height: 58px;
    border-radius: 10px;
    border: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    margin-top: 31px;
}
.Form__find-tour{ 
    color: #FFFFFF;
    background: #286562;
}
.Form__find-tour:hover{ background: #3B7E7B; cursor: pointer;}
.Form__find-tour:active{ background:#627F7E;}

.Form__reset{
    color: #286562;
    background: #E0F0E5;
}

.Form__reset:hover{ background: #F1F3F2; cursor: pointer;}
.Form__reset:active{ background:#D9DFDB;}

 /*  
.Shell {
    height: 986px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 102px;
   
}  
.Form {
    background: #FFFFFF;
    border-radius: 50px;
} 

.Form_main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

form label {
    display: block;
}
   
.Form__Title{
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
}

input, select, textarea, option{
   width: 100%;
   height:68px;
   border: 1px solid #F4F0E9;
   background: #F9F7F4;
   border-radius: 10px;
   font-weight: 400;
   font-size: 20px;
   line-height: 142%;
   color:#1B1F2B;
   margin-top: 7px; 
  }


select{ 
    padding-left: 18px;
    color:#A6A6A6;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding-right: 1em;
    background-repeat: no-repeat;
    background-position: calc(100% - 1em) 1.2em;
    background-size: 26px 26px;
    background-image: url("../img/ic-dropdown.png");
}


select:focus{
    color: #1B1F2B;
}

option:checked{
    color: #3B7E7B;
}
input[type=date] {
    text-indent: 9px;
    margin-top: 8px; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    text-transform: uppercase;
}
input[type=date]:invalid::-webkit-datetime-edit {
    color:#A6A6A6;
}
input[type=date]::-webkit-calendar-picker-indicator{
    display: none;
}

textarea{
    padding: 20px;
    height:112px; 
    width: 990px;
}

input:hover, textarea:hover, input:focus,textarea:focus,input:active,textarea:active{
    outline: 1px solid #F4F0E9;
    background: #F4F0E9;
}
select:hover,select:active, select:focus{
    outline: 1px solid #F4F0E9;
    background: #F4F0E9;
    padding-right: 1em;
    background-repeat: no-repeat;
    background-position: calc(100% - 1em) 1.2em;
    background-size: 26px 26px;
    background-image: url("../img/ic-dropdown.png");
  }

input[type = date]:hover, select:hover{cursor: pointer;}
input[type = date]:focus{color: #1B1F2B;}

.Form__full-width {
    grid-column: 1 / 3;
  }
  */
/*
.Form__Title__Ages{
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    grid-gap: 33px;
}
.Form__radiobutton_input{
     display: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.rad{
    position:relative;
    margin-top: 10px;
}
.Form__radiobutto_position_yes{
        position: absolute;
}
.Form__radiobutto_position_no{
    margin-left: 94px;
    width: 50px;
}
.radio__input{
       display: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;  
      cursor: pointer;
}
.radio_label{
      font-weight: 400;
      font-size: 20px;
      line-height: 142%; 
      margin-left: 38px;
      cursor: pointer;
      margin-top: -2px;
     
}
.radio_label::before{
      content: "";
      display: block;
      width: 22px;
      height: 22px;
      border: 2px solid black;
      border-radius: 50%;
      position: absolute;
      background-color: #FFFFFF;
      left: 1px;
      top: 0;
      z-index: 1;
}
.radio_label::after{
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #1B1F2B;
    opacity: 0;
    position: absolute;
    left: 7.2px;
    top: 6px;
    z-index: 2;
}
.radio__input:checked + .radio_label:after{
    opacity: 1;
}

.checkbox_input{
    display: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.Form__checkbox_label{
    position: absolute;
    font-weight: 400;
    font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;
    color: #A6A6A6;
    padding-left: 45px;
    padding-top: 1px;
}

.Form__checkbox_label:before{
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    background-color: #FFFFFF;
    left: 1px;
    top: 1px;
    z-index: 1;
}
.Form__checkbox_label:after{
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background-image: url("../img/radiobutton (1).png");
    background-size: 25px 25px ;
    opacity: 0;
    position: absolute;
    left: 1px;
    top: 1px;
    z-index: 2;
}

.checkbox_input:checked + .Form__checkbox_label:after{
    opacity: 1;
}

.Form__checkbox_label:hover,.Form__Radio-Text:hover, .Form__Ages:hover, .checkbox_input:hover {
    cursor: pointer;
}
 
.Form__checkbox-agree-part2{
    color: #1B1F2B;
}
.Form__checkbox-agree-part2:hover{
    text-decoration:underline;
}
.Form__checkbox-agree-part2:active{
    color: #286562;
    text-decoration:underline;
}

.Form__button{
    width: 235px;
    height: 58px;
    border-radius: 10px;
    border: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    margin-top: 31px;
}
.Form__find-tour{ 
    color: #FFFFFF;
    background: #286562;
}
.Form__find-tour:hover{ background: #3B7E7B; cursor: pointer;}
.Form__find-tour:active{ background:#627F7E;}

.Form__reset{
    color: #286562;
    background: #E0F0E5;
}

.Form__reset:hover{ background: #F1F3F2; cursor: pointer;}
.Form__reset:active{ background:#D9DFDB;}
*/
 
.reviews-Title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 136px;
    margin-bottom: 0px;
    font-size: 59px;
    line-height: 124%;
    width: 529px;
    height: 146px;
   
}

.reviews-subtitle{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width:415px;
    height: 56px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    color: #A6A6A6;
}


.Reviews{
    margin:0 auto;
    max-width: 1170px;
    margin-top: 102px;
    height: 673px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.Reviews__shell{
    position: relative;
    max-width: 570px; 
    background: #F4F0E9;
    border-radius: 50px;
    padding: 40px ;
    font-size: 23px;
    line-height: 122%; 
}
.Reviews__Person{
    font-weight: 500px;
    font-size: 35px;
    line-height: 122%;
}
.Reviews__shell__ident-second-p{
    margin-top: 28px;
}
.Reviews__Selected-Tour{
    font-weight: 400;
    font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;
    color: #A6A6A6;
}
.Reviews__Photo-Users{
    border-radius: 100px;
    max-width: 75px;
    max-height: 75px;
}

.box__Photo{
    margin-top: 135px;
    width: 723px;
}
.Photo-Trip{
    margin: 0, auto;
    margin-top: 100px;
   
}
.Photo-Trip__first-row{
    display:grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);

}
.Photo-Trip__first-row-photo{
    width: 100%;
    height: 300px;
    border-radius: 50px;
    object-fit:cover;
}

.Photo-Trip__second-row{
    margin-top: 30px;
    display:grid;
    grid-gap: 30px;
    grid-template-columns: repeat(5, 1fr);
}
.Photo-Trip__third-row{
    margin-top: 30px;
    display:grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.box__Stoty{
    margin-top: 138px;
    width:615px;
}
.Story{
   margin: 0 auto;
   width: 1170px;
}
           
.Story__cards{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.Story__cards-top{
    margin-top: 52px;
}

.Story__card {
    position: relative;
    width: 1170px;
    height: 567px;
    overflow: hidden;
    border-radius: 55px; 
  }
  .Story__scale {
    border-radius: 50px;
    width: 1170px;
    height: 567px;
    max-width: 100%;
    transition: transform 0.3s;
    cursor: pointer;
  
}

.Story__scale:hover img {
  transform: scale(1.2);
}
.Story__scale::after{
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
      border-radius: 45px; 
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
      content:'';
}

.Story__Name{
    position:absolute;
    width: 554px;
    height: 43px;
    top:60px;
    margin-left: 60px;
    font-weight: 500;
    font-size: 35px;
    line-height: 122%;
    color: #FFFFFF; 
    z-index: 3;
   
}
.Story__description{
    position:absolute;
    width: 554px;
    height: 224px;
    top:140px;
    margin-left: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    color: #FFFFFF;
    z-index: 3;
    
}
.Story__description__list{
    margin-top: 27px;
    margin-left: -10px;
    
}
.Story__detail{
    position: absolute;
    width: 180px;
    height: 35px;
    margin-left: 40px;
    top: 472px;
    border-radius: 50px;
    z-index: 3;
    padding-top: 7px;
    padding-left: 20px;
    font-size: 23px;
   
}
.Story__scale:hover .Story__detail{
    background:  #286562;
    cursor: pointer; 
  }
 
  .Story__scale:active .Story__detail:active {
    background: #EFA501;
  
}

.Story__button{
    color: #FFFFFF;
    background: url("../img/Vector.png") no-repeat;
    background-size: 23px;
    background-position-x: 137px;
    background-position-y: 6px ;
 
}

.Story__Social-networks{
    position: absolute;
    top:479px;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    color: #FFFFFF;
}
.Story__instagram{
    z-index: 3;
    margin-left: 788px;
}
.Story__facebook{
    z-index: 3;
    margin-left: 913px;
}
.Story__YouToub{
    z-index: 3;
    margin-left: 1032px;
}
.Story__instagram-card2{
    z-index: 3;
 margin-left: 886px;
}
.Story__vk-card2{
    z-index: 3;
    margin-left: 1011px;
}
.Story__instagram-card3{
    z-index: 3;
    margin-left: 767px;
}
.Story__facebook-card3{
    z-index: 3;
    margin-left: 892px;
}
.Story__vk-card3{
    z-index: 3;
    margin-left: 1011px;
}
.Story__instagram:hover, .Story__facebook:hover, .Story__YouToub:hover , .Story__instagram-card2:hover, .Story__vk-card2:hover,.Story__instagram-card3:hover,.Story__facebook-card3:hover, .Story__vk-card3:hover  {
    text-decoration: underline;
    cursor: pointer;
}

.Story__instagram:active, .Story__facebook:active, .Story__YouToub:active, .Story__instagram-card2:active, .Story__vk-card2:active , .Story__instagram-card3:active , .Story__facebook-card3:active, .Story__vk-card3:active  {
    color: #EFA501;
    text-decoration: underline;
}

.Footer__IMG-text{
    max-width: 100%;
    max-height: 100%;
    margin-top: 130px;
    position: relative;
   /* margin-left: 30%;*/
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
   
}
.Footer__colomn{
    display: grid;
    grid-template-columns: 370px 370px;
}
.Footer__img{
    width: 370px;
    height: 370px;
    border-radius: 50px;
}
.Footer__description{
    place-self: center;
}
.Footer__text{
    font-weight: 500;
    font-size: 35px;
    line-height: 122%;
    margin-left: 54px;
}
.Footer__text-email{
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    color: #A6A6A6;
    margin-top: 22px;
    margin-left: 52px;
    width: 364px;
}
.Footer__email{
    color:#1B1F2B;
}
.Footer__email:hover{
    text-decoration: underline;
    cursor: pointer;
}
.Footer__email:active{
    text-decoration: underline;
    color: #286562;  
}
.Footer__network{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 132.5px;
    background: #F4F0E9;
    height: 88px;
    width: 100%;
}
.Footer__network__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    color: #A6A6A6;
}
.Footer__network__inst-img{
    margin-left: 537px;
}
.Footer__network__instagram{
    margin-left: 12px;
    color:#1B1F2B;
}
.Footer__network__facebook-img{
    margin-left: 38px;
}
.Footer__network__facebook{
    margin-left: 15px;
    color:#1B1F2B;
}

.Footer__network__vk-img{
    margin-left: 29px;
}
.Footer__network__vk{
    margin-left: 12px;
    color:#1B1F2B;
}
.Footer__network__instagram:hover, .Footer__network__facebook:hover, .Footer__network__vk:hover{
    text-decoration: underline;
    color: #3B7E7B;
    cursor: pointer;
}

@media screen and (min-width: 1347px){
    
    .ChooseTour-cards{
        max-width:1170px;
    }    
    .ChooseTour-card{
        width:370px;
        height:531px;
        border-radius: 45px;        
    }
    .ChooseTour-card__title {
        width: 240px; 
        height: 86px;
    }
  
    .Form__half-part-width {
        grid-column: 1 / 3;
    }
    .Form__reset{
        margin-left: 2.5%;
    }
    .Reviews{
        max-width: 1170px;
        height: 673px;
        grid-gap: 30px;
    }
    .Reviews__shell{
        max-width: 570px; 
    }
    .Reviews__Person{
        position: absolute;
        top :558px;
        max-width: 415px;   
    }
    .Reviews__Selected-Tour{
        position: absolute;
        top :609px;
        max-width: 415px;  
    }
    .Reviews__Photo-Users{
        position: absolute;
        top :558px;
        left: 455px;
    
    }
    .Photo-Trip{
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;
    }

}


@media screen and (min-width: 965px)and (max-width:1347px){ 
    input[placeholder]          {text-indent: 16px;   transition: text-indent 0.3s ease;}
    input::-moz-placeholder     {text-indent: 16px;   transition: text-indent 0.3s ease;} 
    input:-moz-placeholder      {text-indent: 16px;   transition: text-indent 0.3s ease;} 
    input:-ms-input-placeholder {text-indent: 16px;   transition: text-indent 0.3s ease;}  
    
    
    /*   
    #mainmenu label {
        padding-top: 0px;
    }
    #mainmenu input[type="radio"]:checked + label {
        padding-bottom: 0px;
    }
    #mainmenu input[type="radio"]:checked + label:first-of-type {
        padding-bottom: 0px;
        padding-top: 0px;
    }
*/
    .ChooseTour-cards{
        max-width:918px;  
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 18px; 
        margin-top:104px ;
    }
    .ChooseTour-card{
        width:450px;
        height:531px;
        border-radius: 40px;
        object-fit: cover;
    }
    
    .ChooseTour-card__title {
        width: 350px; 
        height: 43px;
    }
    .ChooseTour-card__price{  
        top: 90px;
    }
    .Form-title{
        margin-top: 133px;
    }
    form {
        max-width: 798px;
        max-height: 966px;  
        margin-top: 100px;
        padding: 60px ;
        grid-gap: 30.5px 20px;
    } 
  
    .Form__half-part-width {
        grid-column: 1 / 3;
    }
    select{ 
        padding-left: 19px; 
        padding-top: 5px; 
        background-position: calc(100% - 0.9em) 1.1em;
    }

    select:hover,select:active, select:focus{
        background-position: calc(100% - 0.9em) 1.1em;
    }
    input[type=date] { 
        text-indent: 8px;
    }
    textarea{
        padding: 20px;
        width: 758px;
        height: 112px;
    }
    .Form__TitleAges{     
        margin-top: -3px;
    }
    .Form__radio-label{
        margin-left: 37px;
    }
    .Form__radio-label::after{
        border-radius: 50%;
        width: 12px;
        height: 12px;
        left: 7.5px;
        top: 6.59px;
    }
   .Form__checkbox-label{
        padding-left: 37px;
        padding-top: 3px;
   
    }
    .Form__checkbox-label:before{
        top: 2px;
        left:0px;
    }
    .Form__checkbox-label:after{
        top: 2px;
        left:0px;
    }
    .Form__button{
        margin-top: 30px;
    }
    .Form__reset{
        margin-left: 3%;
    }
    .Reviews{ 
        max-width: 918px;
        height: 841px;
        grid-gap: 18px;
    }
    .Reviews__shell{
        max-width: 450px; 
        padding: 40px;
    }
    .Reviews__Person{
        position: absolute;
        top :726px;
        max-width: 295px;   
    }
    .Reviews__Selected-Tour{
        position: absolute;
        top :777px;
        max-width: 295px;  
    }
    .Reviews__Photo-Users{
        position: absolute;
        top :726px;
        left: 335px;
    }
    .Photo-Trip{
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 984px;
    }
    .Photo-Trip__first-row{
        display:grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
    .Photo-Trip__photo-delete{
        display: none;
    }
    .Photo-Trip__first-row-photo{
        width: 100%;
        height: 300px;
        border-radius: 50px;
        object-fit:cover;
    }
    .Photo-Trip__second-row{
        margin-top: 30px;
        display:grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }
    .Photo-Trip__third-row{
        margin-top: 30px;
        display:grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
    .box__Stoty{
        margin-top: 140px;
    }
    .Story{
        margin: 0 auto;
        width: 918px;
     }
    .Story__photo-one{   
        width: 918px;
    }
    .Story__cards-top{
        margin-top: 52px;
    }
    
    .Story__card {
        width: 1170px;
        height: 567px;
        border-radius: 50px; 
      }
      .Story__scale {
        border-radius: 50px;
        width: 918px;
        height: 567px;
    }
 
    .Story__scale::after{
          border-radius: 50px; 
    }

    .Story__description{
        top:140px;
    }
    .Story__instagram{
        margin-left: 536px;
    }
    .Story__facebook{
        margin-left: 661px;
    }
    .Story__YouToub{
        margin-left: 780px;
    }
    .Story__instagram-card2{
        margin-left: 634px;
    }
    .Story__vk-card2{
    margin-left: 759px;
    }
    .Story__instagram-card3{
        margin-left: 515px;
    }
    .Story__facebook-card3{
        margin-left: 640px;
    }
    .Story__vk-card3{
        margin-left: 759px;
    }
    .Story__cards-top{
        margin-top: 50px;
    }

    .Footer__IMG-text{
        margin-top: 134px;
      /*  margin-left:12.2%;*/
    }
    .Footer__network__inst-img{
        margin-left: 287px;
    }
    .Footer__text{
        margin-left: 58px;
    }
    .Footer__text-email{
        margin-left: 57px;
    }
 
}

@media screen and (max-width:965px){
    input[placeholder]          {text-indent: 9px;   transition: text-indent 0.3s ease;}
    input::-moz-placeholder     {text-indent: 9px;   transition: text-indent 0.3s ease;} 
    input:-moz-placeholder      {text-indent: 9px;   transition: text-indent 0.3s ease;} 
    input:-ms-input-placeholder {text-indent: 9px;   transition: text-indent 0.3s ease;}   
   /* #mainmenu label {
        padding-top: 0;
    }
    #mainmenu input[type="radio"]:checked + label {
        padding-bottom: 0;
    }
    #mainmenu input[type="radio"]:checked + label:first-of-type {
        padding-bottom: 0;
        padding-top: 0;
    }*/
    .ChooseTour-title{  
        font-size: 34px;
        line-height: 112%;
        margin-top: 75px;
        letter-spacing: 0.02em;
       
    }
    .ChooseTour-options{
        line-height: 142%;
        font-size: 16px;
        margin-top: -13px;
        padding:0px;
        width:160px;
    }
      
    .ChooseTour-options-option{
       display: inline;
       margin-left:15px;
       margin-right: 15px;
    }
  /*  .TourMenu{
        margin-top: 45.3px;
        font-size: 16px;
        line-height: 142%;
    }
    .TourMenu__width{
        width:259px;
    }
    .TourMenu__left{
        margin-left: 11px; 
    }
    .TourMenu__second-row-left{
        margin-top: 8px;
        margin-left: 41px; 
    }
    .TourMenu__second-row-top{
        margin-top: 8px;
    }*/
    .ChooseTour-cards{
        margin-top: 64px;  
        max-width:318px;
        display: grid;
        grid-template-columns: 318px;
        grid-gap: 18px;    
    }
   
    .ChooseTour-card{
        width:318px;
        height:318px;
        border-radius: 20px;
        object-fit: cover;
    }
  
    .ChooseTour-sacal::after{  
        height: 318px;
        border-radius: 0;
    }
    .ChooseTour-card__title {
        top: -7px; 
        left: 25px;  
        width: 268px; 
        height: 28px;
        font-weight: 700;
        font-size: 23px;
        line-height: 120%;
        letter-spacing: 0.04em;
    }
    .ChooseTour-card__price{ 
        font-size: 16px;
        line-height: 142%; 
        top: 50px;
        left: 25px;
    }
    .ChooseTour-card__button{
        left: 3px;
        top: 261px; 
        font-size: 16px;
    }
    .ChooseTour-card__button-icon{
        padding-left: 14px;
      }
    
    .Form-title{  
        font-size: 34px;
        line-height: 112%;
        margin-top: 75px;
        letter-spacing: 0.02em;
    }
    .Form-subtitle{
        display: flex;
        margin-left:auto;
        margin-right: auto;
        margin-top: 19px;
        width: 318px;
        height: 46px;
        font-size: 16px;
    }
        
    form {
        max-width: 278px;
        max-height: 1110px;  
        margin-top: 40px;
        padding: 20px 20px 40px;
        border-radius: 30px;
        display: flex;
	    flex-direction: column;
	    gap: 30.3px;
    }  
    
   
    form label {
        display: block;    
    }
    form p{
        font-weight: 400;
        font-size: 16px;
        line-height: 142%; 
    }
    input, select, textarea, option{
    width: 100%;
    height: 40px;
    font-size: 16px;
    }
    select{ 
        padding-left: 8px;
        height: 46px;
        background-position: calc(100% - 0.7em) 0.6em;
    }
    select:hover,select:active, select:focus{
        background-position: calc(100% - 0.7em) 0.6em;
    }
    input[type=date] {
        text-indent: 3px;
        margin-top: 10px; 
        font-size: 16px;
        text-transform: uppercase;
    }

    textarea{
        padding: 10px;
        width: 258px;
        height: 112px;
    }
    .Form__TitleAges{
        font-size: 16px; 
        margin-top: -6px;
    }
    .Form__radiobutton{
        margin-top: 9px;
    }
    .rad2-top{
        margin-top: 11px;
    }
    .Form__radiobutton-position-no{
        margin-left: 80px;
     }
     .Form__radio_label{
           font-weight: 400;
           font-size: 16px;
           line-height: 142%; 
           margin-left: 28px;
     }
     .Form__radio-label::before{
           width: 16px;
           height: 16px;
           border: 2px solid black;
           left:0px;
           top:0px;
     }
     .Form__radio-label::after{
         width: 10px;
         height: 10px;
         border-radius: 50%;
         left: 4.8px;
         top: 4.8px;
     }
   
    .Form__checkbox-input{
        width: 18px;   
        height: 18px;
    }
    .Form__checkbox-agree-part2{
        width: 250px;
        font-size: 16px;
        height: 69px;
        line-height: 142%;
        letter-spacing: none;
        padding-left: 30px;
        padding-top: 0;
    }
    .Form__checkbox-label:before{
        width: 17px;
        height: 17px;
        top:-2px;
        left:-1.5px;
        border: 2px solid black;
        border-radius: 5px;
    }
    .Form__checkbox-label:after{
        width: 16px;
        height: 16px;
        top:-2px;
        left:-1.5px;
        background-size: 20px 20px ;
    }
    .Form__button{
        margin-top: 67px;
        width: 134px;
        height: 47px;
        font-size: 16px;
    }
    .Form__reset{
        margin-left: 2%;
    }

    .reviews-Title{
        font-size: 34px;
        font-weight: 700;
        line-height: 112%;
        letter-spacing: 0.68px;
        margin-bottom: 0px;
        width: 318px;
        height: 76px;
        margin-top: 75px; 
       
    }
    
    .reviews-subtitle{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width:318px;
        height: 46px;
        font-size: 16px;
    }
        
    .Reviews{
        margin:0 auto;
        max-width: 318px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 19px;
        height:1000px;
    }
    .Reviews__shell{
        position: relative;
        border-radius: 20px;
        padding: 20px ;
        font-size: 16px;
        line-height: 142%;
        height: 408px;
        width: 276px; 
    }
    .Reviews__shell-height-secon-rewiew{
        height: 550px; 
    }
    .Reviews__Person{
        margin-top:58px;
        font-weight: 700;
        font-size: 23px;
        line-height: 120%;
        letter-spacing: 0.04em;
    }
    .Reviews__shell__ident-second-p{
        margin-top: 25px;
    }

    .Reviews__Selected-Tour{
        font-size: 16px;
        line-height: 142%;
        letter-spacing: -0.01em;
        margin-top:8px;
    }

    .Reviews__Photo-Users{
        position:absolute;
        top: 309.8px;
        left: 222px;
    }
    .Reviews__Photo-Users-SecondCads{
        top: 497px; 
    }
    .box__Photo{
        width: 318px;
        height: 76px;
        margin-top: 92.5px;
    }
    .Photo-Trip{
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding-left: 21px;
        padding-right: 21px;
        max-width: 318px;
    }
    .Photo-Trip__first-row{
        display:grid;
        grid-gap: 18px;
        grid-template-columns: repeat(2, 1fr); 
        
    }
    .Photo-Trip__first-row-photo{
        width: 100%;
        height: 110px;
        border-radius: 20px;
        object-fit:cover;
    }
    .delete-object{
        display: none;
        }
    .Photo-Trip__photo-delete{
        display: none;
    }
    .Photo-Trip__second-row{
        margin-top: 18px;
        display:grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }
    .Photo-Trip__third-row{
        margin-top: 18px;
        display:grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
 
    .box__Stoty{
        margin-top: 76px;
        width: 319px;
        height: 76px;
    }
    .Story{
        width: 318px;
     }
    .Story__cards{
        max-width: 100%;
        max-height: 100%;
        margin-top: 50px;
        border-radius: 20px;
    }
    
      .Story__scale {
      object-fit: cover; 
      border-radius: 20px;
      width: 318px;
      height: 455px;
    }
    .Story__scale::after{
        border-radius: 20px; 
  }

    .Story__cards-top{
        margin-top: 20px;
    }

    .Story__Name{
        position:absolute;
        width: 160px;
        height: 56px;
        top:30px;
        margin-left: 30px;
        color: #FFFFFF; 
        font-weight: 700;
        font-size: 23px;
        line-height: 120%;
        letter-spacing: 0.04em;

    }
    .Story__description{
        position:absolute;
        width: 263px;
        height: 230px;
        top:106px;
        margin-left: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 142%;
        color: #FFFFFF;
    
    }
    .Story__description__list{
        margin-top: 22.5px;
        margin-left: -15px;
    }
    .Story__detail{
        position: absolute;
        width: 130px;
        height: 23px;
        margin-left: 8px;
        top: 398px;
        border-radius: 20px;
    }
    .Story__button{
        padding-left: 2px;
        font-size: 16px;
        color: #FFFFFF;
        background: url("../img/Vector.png") no-repeat;
        background-size: 23px;
        background-position-x: 100px;
        background-position-y: 0px ;
    }
    .Story__Social-networks{
        display: none;
    }

.Footer__IMG-text{
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    margin-top: 76.5px;
    position: relative;
   
}

.Footer__colomn{
    display: grid;
    grid-template-columns: 130px;
    justify-content: center;
}
.Footer__img{
    width: 130px;
    height: 133px;
    border-radius: 20px;
}
.Footer__description{
    place-self: center;
}
.Footer__text{
    margin-top: 26px;
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.04em;
    margin-left: 0px;
    
}
.Footer__text-email{
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    color: #A6A6A6;
    margin-top: 20px;
    width: 291px;
    margin-left: 0px;
}
.Footer__network{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 75px;
    background: #F4F0E9;
    height: 95px;
    width: 100%;
}

.Footer__Shell{
    margin-top: 75px;
    background: #F4F0E9;
    height: 95px;
    width: 100%;
  }
  .Footer__network__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    color: #A6A6A6;
}
  .Footer__network{
    margin:0 auto;
    width:315px;
    display:  flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
  }
  .Footer__network1{
    margin-top:5px;
    margin-left:21% ;
    margin-right: 21%;
    margin-bottom: -27px;
   
  }
  .Footer__network__inst-img{
    width:10.77px;
    height:10.77px;
    margin-left: 6px;   
}
.Footer__network__instagram{
    margin-left: 6.54px;
}
.Footer__network__facebook-img{
    width:6.15px;
    height:13.08px;
    margin-left: 25px;
}
.Footer__network__facebook{
    margin-left: 8.85px;  
}

.Footer__network__vk-img{
    width:15.38px;
    height:9.23px;
    margin-left: 18px;
}
.Footer__network__vk{
    margin-left: 6.5px; 
}
}
