input[placeholder]          {text-indent: 16px;   transition: text-indent 0.3s ease;}
input::-moz-placeholder     {text-indent: 16px;   transition: text-indent 0.3s ease;} 
input:-moz-placeholder      {text-indent: 16px;   transition: text-indent 0.3s ease;} 
input:-ms-input-placeholder {text-indent: 16px;   transition: text-indent 0.3s ease;} 
:-ms-input-placeholder { color:#A6A6A6;}
::placeholder {color:#A6A6A6;} 
  
.caption {
   height: 100vh;
   overflow: hidden; 
}  
.caption-img {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.caption-block {
    width: 768px;
    margin: 25vh auto 0;
  /* margin-left: auto;
   margin-right: auto;*/
    color: #FFFFFF;
}
.caption-title {
    display: flex;
    align-items: center;
    text-align: center;
}
.caption-text {
    width: 562px;
    margin: 6vh auto;
    text-align: center;
    line-height: 1.5;
    }
.caption-button {
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    font-size: 1.0625rem;
    background: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.5s  linear ;
}
.caption-button:hover{ 
    background-color: #EFA501;
    color: #FFFFFF;
    cursor: pointer; 
   
}
.caption-button:active{ 
    background: #F8E6BE;
    color: #1B1F2B;
    
}

.ChooseTour-options {
    display:  flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin: 36px auto 0;
    list-style: none;
   
}
.ChooseTour-option__label{
    cursor: pointer;
}
.ChooseTour-options-option{
    margin-right:30px;
    
}
.ChooseTour-options-option:last-child {
    margin-right: 0;
}
.ChooseTour-option__input {
    display: none;
}

.ChooseTour-options input:checked + p {
    text-decoration:none;
    color: #EFA501;
}
.ChooseTour-options p::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    transition: background-color 0.5s ease-in-out;
  }
  
.ChooseTour-options p:hover::after {
    width: 100%;
    background-color: black;
   
}
.ChooseTour-options p:active::after {
    width: 100%;
    background-color: #EFA501;
   

}
.ChooseTour-options input:checked + p::after {
    width: 100%;
    background-color: #EFA501;
   
}

.ChooseTour-cards{
    position: relative; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 100px;
    }

.ChooseTour-card{
    position: relative; 
    height: 531px;
    border-radius: 45px; 
    overflow: hidden;
}
.Choose-card__img{
    height: 531px;
    object-fit: cover;
}

.ChooseTour-sacal{
    max-width: 100%;
    transition: transform 0.4s;
    cursor: pointer; 
}

.ChooseTour-sacal:hover .Choose-card__img {
    transform: scale(1.2);
}

.ChooseTour-sacal::after{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    border-radius: 45px;
    content:''; 
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}
.ChooseTour-card__info{
    position: absolute; 
    top: 50px; 
    left: 50px; 
    z-index: 3;
    width: 240px;
    color: #FFFFFF;
}

.ChooseTour-card__price{
    margin-top: 16px;
}
.ChooseTour-card__button{
    position: absolute;
    left:29px;
    z-index:3;
    margin-top: 447px;
    padding: 6px 20px;
    border-radius: 50px;
    border:none;
    color: #FFFFFF;
    background: none;
    transition: background-color 0.4s;
}
.ChooseTour-card__button-icon{
    padding-left: 10px;  
}
.ChooseTour-sacal:hover .ChooseTour-card__button{
    background-color:  #286562;
    cursor: pointer; 
  }

.ChooseTour-sacal:active .ChooseTour-card__button:active{
    background: #EFA501;
}

.Form-subtitle{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 29px;
    width:405px;
    height: 56px;
    text-align: center;
    color: #A6A6A6;
}


form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap:33px;
    row-gap: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 101px;
    padding: 70px;
    max-width: 1170px;
    height: 986px;
    border-radius: 50px;
    background: #FFFFFF;
}
form label {
    display: block;
    
}

input, 
select, 
textarea,
 option{
    width: 100%;
    height:68px;
    margin-top: 7px; 
    border: 1px solid #F4F0E9;
    border-radius: 10px;
    transition: background-color 0.3s;
    line-height: 142%;
    background: #F9F7F4;
    font-weight: 400;
    font-size: 20px;
    color:#1B1F2B;
}

select{ 
    padding-left: 18px;
    padding-right: 1em;
    background-repeat: no-repeat;
    background-position: calc(100% - 1em) 1.2em;
    background-size: 26px 26px;
    background-image: url("../img/ic-dropdown.png");
    color:#A6A6A6;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

}
select:hover,
select:active, 
select:focus{
    padding-right: 1em;
    outline: 1px solid #F4F0E9;
    background: #F4F0E9;
    background-repeat: no-repeat;
    background-position: calc(100% - 1em) 1.2em;
    background-size: 26px 26px;
    background-image: url("../img/ic-dropdown.png");
}
select:focus{
    color: #1B1F2B;
}
option:checked{
    color: #3B7E7B;
}
input[type=date] {
    margin-top: 7px; 
    transition: background-color 0.3s;
    text-transform: uppercase;
    text-indent: 8px;
}

input[type = date]:invalid::-webkit-datetime-edit { color:#A6A6A6;}
input[type = date]::-webkit-calendar-picker-indicator{ display: none; }
input[type = date]:hover, select:hover{cursor: pointer;}
input[type = date]:focus{color: #1B1F2B;}

textarea{
    padding: 20px;
    height:152px; 
    width:1030px;
    max-width: 100%;
    min-width: 100%;
    min-height:152px;
   
}

input:hover, 
textarea:hover, 
input:focus,
textarea:focus,
input:active,
textarea:active{
    outline: 1px solid #F4F0E9;
    background-color: #F4F0E9;
}

.Form__label-textarea, 
.Form-radiobutton,
.Form-checkbox__label{
    grid-column: 1 / 3;
    
}

.Form-radiobutton__question{
    margin-bottom: 8px;
}
.Form-radiobutton__position-yes{
    position: absolute;
}
.Form-radiobutton__position-no{
    margin-left: 94px;
    width: 50px;
}
.Form-radiobutton__label span {
    position:relative;
    display:flex;
    align-items:center;
    padding-left: 36px;
    font-size: 20px;
    font-weight: 400;
    line-height: 142%; 
    cursor: pointer;
}
  .Form-radiobutton__label input[type = "radio"]{
   position:absolute;
   width:1px;
   height:1px;
   opacity:0;
   }
   .Form-radiobutton__label span::before{
   position: absolute;
   left: 0;
   top: 0;
   z-index: 1;
   display: inline-block;
   width: 22px;
   height: 22px;
   border: 2px solid black;
   content : "";
   border-radius: 50%;
   background-color: #FFFFFF;
   }
   .Form-radiobutton__label span::after{
    content : "";
    position:absolute;
    left:1.6px;
    top:7px;
    z-index: 2;
    width:11px;
    height:11px;
    transform: translateX(50%);
    opacity:0;
    background-color:black;
    border-radius:100%;
   }
   .Form-radiobutton__label input[type = "radio"]:checked + span::after {
   opacity:1;
   }

 input:checked + .Form__radio-label::after{
    opacity: 1;
}

.Form-checkbox__label{
    grid-column: 1 / 3; 
}
.Form-checkbox__fake {
    position:relative;
    display:flex;
    align-items:center;
}
.Form-checkbox__text{
    color: #A6A6A6;
    cursor: pointer;
   
}

.Form-checkbox__label input[type = "checkbox"]{
   position:absolute;
   width:1px;
   height:1px;
   opacity:0;
}
   .Form-checkbox__fake::before{
   float: left;
   display:block;
   z-index: 1;
   margin-right:20px;
   width: 22px;
   height: 22px;
   border: 2px solid black;
   border-radius: 5px;
   content : "";
   background-color: #FFFFFF;
}
.Form-checkbox__fake::after{
    position:absolute;
    z-index: 2;
    content : "";
    opacity:0;
    top: 5px;
    left: 9px;
    width: 5px;
    height: 10px;
    border: 3px solid black;
    border-radius:1.5px;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
  
   
}
.Form-checkbox__label input[type = "checkbox"]:checked + .Form-checkbox__fake::after {
   opacity:1;
}

.Form-checkbox__text-partTwo{
     padding-left: 4px;
      
}

.Form-checkbox__text a {
    position: relative;
    color: #1B1F2B;
    cursor: pointer;
    text-decoration: none; 
   
  }
  .Form-checkbox__text-partTwo::after {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    transition: 0.3s;
    background: #000;
  }

  .Form-checkbox__text-partTwo:hover:after {
    width: 100%;
  }
  
   
.Form-button__find-tour, .Form-button__reset{
    margin-top: 4px;
    width: 235px;
    height: 58px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    background: #286562;
    transition: background-color 0.3s;
}
.Form-button__reset{
    color: #286562;
    background: #E0F0E5;
}
.Form-button__find-tour:hover{ background-color: #3B7E7B; cursor: pointer;}
.Form-button__find-tour:active{ background-color:#627F7E;}
.Form-button__reset:hover{ background-color: #F1F3F2; cursor: pointer;}
.Form-button__reset:active{ background-color:#D9DFDB;}
 
.reviews-Title{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 529px;
    height: 146px;
    text-align: center;
}

.reviews-subtitle{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 30px;*/
    margin-top: 110px;
    width:415px;
    height: 56px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    color: #A6A6A6;
}

.reviews-review{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin:0 auto;
    margin-top: 99px;
}

.reviews-review-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 40px ;
    border-radius: 50px;
    background: #F4F0E9;
    
}


.reviews-card__text-ident{
    margin-top: 28px;
}
.reviews-card__Tour{
    color: #A6A6A6;
}
.reviews-card__PhotoUsers{
    max-width: 75px;
    max-height: 75px;
    border-radius: 100px;
}


.Photos-subtitle{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width:415px;
    height: 56px;
    text-align: center;
    color: #A6A6A6;
}

.Photos-Trip{
    margin: 0, auto;
    margin-top: 100px;
   
}
.Photos-Trip__first-row{
    display:grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);

}
.Photos-Trip__photo{
    width: 100%;
    height: 301px;
    border-radius: 50px;
    object-fit:cover;
}

.Photos-Trip__second-row{
    display:grid;
    grid-gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 30px;
}
.Photos-Trip__third-row{
    display:grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
}

.Stories-subtitle{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width:415px;
    height: 56px;
    text-align: center;
    color: #A6A6A6;
}
.Stories-cards{
    margin: 0 auto;
    margin-top: 98px;
    width: 1170px;
}
.Stories-card {
    position: relative;
    margin-top: 50px;
    border-radius: 55px;
    overflow: hidden;
}

.Stories-scale {
    width: 1170px;
    height: 568px;
    max-width: 100%;
    border-radius: 50px;
    transition: transform 0.4s;
    cursor: pointer;
}

.Stories-scale:hover .Stories-card__img {
  transform: scale(1.2);
}
.Stories-scale::after{
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
      border-radius: 45px; 
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
      content:'';
}
.Stories-card__information{
    position:absolute;
    top:60px;
    left:60px;
    z-index: 3; 
    color: #FFFFFF;  
}
.Stories-card__description{
    margin-top: 37px;
    width: 554px;
    height: 224px;
}
.Stories-card__description-list{
    margin-top: 27px;
    margin-left: 27px;
}
.Stories-card__detailed{
    position: absolute;
    top:475px;
    left: 0;
    right: 0;
    z-index:3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 1050px;
}
.Stories-card__button{
    padding: 7px 20px;
    border-radius: 50px;
    color: #FFFFFF;
    transition: background-color 0.4s;
}
.Stories-card__button-icon{
    padding-left: 10px;  
}

.Stories-scale:hover .Stories-card__button{
    background-color:  #286562;
    cursor: pointer; 
    
  }
.Stories-scale:active .Stories-card__button:active{
    background-color: #EFA501;
}
.Stories-card__SocialNetworks{
    color: #FFFFFF;
    list-style: none;
}
.Stories-card__Network{
    display: inline-block;
    margin-right: 34px;
}
.Stories-card__Network:last-child {
    margin-right: 0;
}

  .Stories-card__SocialNetworks li::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: white;
    color: #E0F0E5;
    transition: width 0.5s ease-in-out;
  }
  
  .Stories-card__SocialNetworks li:hover::after {
    width: 100%;
  }
  
  .Stories-card__SocialNetworks li:active::after {
    background-color:#EFA501;
  }
  .Stories-card__Network:active{
    color: #EFA501;
 }
  

.Intelligence{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 135px auto;
    width: 771px;
}
.Intelligence-img{
    width: 370px;
    height: 370px;
    border-radius: 50px;
}
.Intelligence__text-email{
    margin-top: 20px;
    color:#A6A6A6;
}
.Intelligence__email{
    color:#1B1F2B;
    position: relative;
}
  
  .Intelligence__email::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .Intelligence__email:hover::after {
    width: 100%;
    background-color: black;
  }
  
  .Intelligence__email:active::after {
    background-color:  #286562;
  }
  .Intelligence__email:active{
    color: #286562;  
}


footer {
    display: flex;
    align-items: center;
    height: 88px;
    background: #F4F0E9;
}
.Footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1170px;
    margin: 0 auto;
}

.Footer-text{
    color:#A6A6A6;
}
.Footer-networks{
    display: flex;
    align-items: center;
    list-style: none;
}
.Footer-networks__option{
    margin-right: 25px;
    color:#A6A6A6;
}
.Footer-networks__option:last-child {
    margin-right: 0;
}
.Footer-networks__text{
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.Footer-networks__option::after{
    content: "";
    display: block;
    left:0;
    width: 0;
    height: 1.5px;
    transition: background-color 0.4s ease-in-out;
    cursor: pointer;
   
  }
.Footer-networks__option:hover{
    color:#3B7E7B;
}
 
.Footer-networks__option:hover::after{
    margin-left: 24%;
    width: 76%;
    background-color: #3B7E7B;
    
}
.Footer-networks__inst-img,
.Footer-networks__facebook-img,
.Footer-networks__vk-img{
    cursor: pointer;
}

@media screen and (min-width: 1240px){
  
    .ChooseTour-cards{
        width: 1170px;
        max-width: 90%; 
    }    
    .ChooseTour-card{
        border-radius: 45px;        
    }
    .Choose-card__img{
        max-width: 100%;
        height: 531px;
       
    }
    .Form-button{
        grid-column: 1 / 3;
    }
    .Form-button__reset{
        margin-left: 2.5%;
    }
    .reviews-review{
        grid-gap: 30px;
        max-width: 1170px;
        height: 673px;
    }
    .reviews-review-card{
        max-width: 570px; 
    }
    .reviews-card__PersonName{
        position: absolute;
        top :558px;
        max-width: 415px;   
    }
    .reviews-card__Tour{
        position: absolute;
        top :609px;
        max-width: 415px;  
    }
    .reviews-card__PhotoUsers{
        position: absolute;
        top :558px;
        left: 455px;
    
    }
    .Photos-Trip{
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
    

}

@media screen and (min-width: 768px)and (max-width:1240px){ 
    input[placeholder]          {text-indent: 16px;   transition: text-indent 0.3s ease;}
    input::-moz-placeholder     {text-indent: 16px;   transition: text-indent 0.3s ease;} 
    input:-moz-placeholder      {text-indent: 16px;   transition: text-indent 0.3s ease;} 
    input:-ms-input-placeholder {text-indent: 16px;   transition: text-indent 0.3s ease;}  
    
    .caption-block {
        margin-top: 25vh;
        width: 914px;
        max-width :89%;
    }
    .caption-text {
        width: 442px;
    }

    .ChooseTour-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 18px; 
        margin-top:101px;
        width: 918px;
        max-width: 90%;
    }
    .ChooseTour-card{
        max-width: 100%;
        border-radius: 40px;
    }
    .ChooseTour-card__info{
        left: 11%; 
        width: 350px;
        max-width: 77%;
        
    }
    .Choose-card__img{
        width: 100%;
        object-fit: cover;
    }
    .ChooseTour-card__price{  
        top: 104px;
    }
    .ChooseTour-card__button-icon{
        padding-left: 11px;  
    }
    .Form-subtitle{
        margin-top: 28px;
       
    }
    form {
        grid-gap: 30px 20px;
        width: 918px;
        max-width:89%;
        max-height: 968px;  
        margin-top: 100px;
        padding: 60px ;
    } 

    select{ 
        padding-left: 19px; 
        padding-top: 5px; 
        background-position: calc(100% - 0.9em) 1.1em;
    }

    select:hover,select:active, select:focus{
        background-position: calc(100% - 0.9em) 1.1em;
    }
    input[type=date] { 
        text-indent: 8px;
    }
    textarea{
        padding: 20px;
        width: 798px;
        min-width: 100%;
        max-width: 100%;
        height: 152px;
        min-height: 152px;
    }
    .Form__label-textarea{
        margin-top: -2px;
    }
    .Form-radiobutton{
        margin-top: -6px;
    }
    .Form-radiobutton__question{
        margin-bottom: 6px;
    }
    
    .Form-checkbox__label span::before{
        margin-right:13px;
    }
    .Form-checkbox__label span::after{
        top:6px;
    }
    
    .Form-button{
        grid-column: 1 / 3;
        margin-top: -3px;
    }
    .Form-button__reset{
        margin-left: 3.1%;
    }
   
    .reviews-Title{
        margin-top:135px ;
    }
    .reviews-review{ 
        grid-gap: 18px;
        width: 918px;
        max-width:90% ;
    }
    .reviews-review-card{
        padding: 40px;
        max-width: 450px; 
       
    }
    .reviews-card__info{
        margin-top:70px;
        height: 75px;
    }
  
    .reviews-card__PersonName{
        position: absolute;
        max-width: 65%;
    }
    .reviews-card__Tour{
       position: absolute;
       margin-top: 51px;
       max-width: 65%;
    }
    .reviews-card__PhotoUsers{
        position: absolute;
        left: 74%;
       
    }
   
    .Photos-Trip{
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 1024px;
    }
    .Photos-Trip__first-row{
        display:grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
    .Photos-Trip__photo-FirstDelete{
        display: none;
    }
    .Photos-Trip__photo{
        width: 100%;
        height: 301px;
        border-radius: 50px;
        object-fit:cover;
    }
    .Photos-Trip__second-row{
        display:grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 30px;
    }
    .Photos-Trip__third-row{
        display:grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 30px;
    }
    .Stories-Title{
        margin-top: 138px;
    }
    .Stories-cards{
        margin: 0 auto;
        margin-top: 100px;
        width: 918px;
        max-width: 89%;
    }
    .Stories-scale{
        width: 918px;
        height: 567px;
        border-radius: 50px;
    }
    .Stories-scale::after{
        border-radius: 50px; 
    }
    .Stories-card__detailed{
        max-width:86%;
    }
    .Stories-card__Network{
        margin-right: 34px;
    }
    .Intelligence{
        max-width:95%;
    }
    .Footer{
        width: 918px;
        max-width: 89%;
    }
}

@media screen and (max-width:768px){
    input[placeholder]          {text-indent: 9px;   transition: text-indent 0.3s ease;}
    input::-moz-placeholder     {text-indent: 9px;   transition: text-indent 0.3s ease;} 
    input:-moz-placeholder      {text-indent: 9px;   transition: text-indent 0.3s ease;} 
    input:-ms-input-placeholder {text-indent: 9px;   transition: text-indent 0.3s ease;}   
   
    .caption-block {
        margin: 29vh auto 0;
        width: 100%;
    }
    .caption-text {
        margin: 40px auto;
        width:310px;
    }    
    .caption-button {
        margin: 2vh auto 0;
        padding: 5px 20px;
        
    }
    .ChooseTour-options {
        display:  flex;
        justify-content: center;
        flex-wrap: wrap; 
        margin: 6.4vh auto 0;
        width:318px;
       
        
    }
    .ChooseTour-options-option{
        margin-left:1.6%;
        margin-right: 1.6%;
        
    }
   
    .ChooseTour-option__text{
      margin-top:1.5vh;
    }
    .ChooseTour-cards{
        position: relative; 
        display: grid;
        grid-template-columns: auto;
        grid-gap: 18px;
        margin-top: 50px;
        max-width: 88%;
        }
    .ChooseTour-card{
        width: 100%;
        height: 318px;
        border-radius: 20px;
    }
    .Choose-card__img{
        width: 100%;
        height:100%;
        
        object-fit: cover;
        border-radius: 20px;
    }
  
    .ChooseTour-sacal::after{  
         height:100%;
        border-radius: 20px;
    }

    .ChooseTour-card__info{
        top: 25px; 
        left: 25px; 
        width: 258px;
    }
    .ChooseTour-card__price{ 
        margin-top: 13px;
    }
    .ChooseTour-card__button{
        left: 5px;
        margin-top: 263px; 
    }
    .ChooseTour-card__button-icon{
        padding-top: 2px;
        padding-left: 12px;
      }
    
    .Form-subtitle{
        display: flex;
        margin-left:auto;
        margin-right: auto;
        margin-top: 21px;
        max-width: 88%;
        height: 46px;
    }
        
    form {
        display: flex;
	    flex-direction: column;
	    gap: 33px;
        margin-top: 40px;
        padding: 20px 20px 40px;
        max-width: 88%;
        height: 1110px;  
        border-radius: 30px;
    }  
    
   
    form label {
        display: block;    
    }
    input, 
    select, 
    textarea, 
    option{
        width: 100%;
        height: 40px;
        font-size: 16px;
    }
    select{ 
        padding-left: 8px;
        height: 46px;
        background-position: calc(100% - 0.7em) 0.6em;
    }
    select:hover,
    select:active, 
    select:focus{
        background-position: calc(100% - 0.7em) 0.6em;
    }
    input[type=date] {
        text-indent: 3px;
        margin-top: 10px; 
        font-size: 16px;
        text-transform: uppercase;
    }

    textarea{
        padding: 10px;
        width:278px;
        max-width: 100%; 
        min-width:100%;
        height: 132px;
        min-height:132px;
    }
    .Form-radiobutton__question{
        margin-top: -8px;
        margin-bottom: 9px;
        font-size: 16px; 
    }
    .Form-radiobutton__position-no{
        margin-left: 81px;
        width: 50px;
    }
    .Form-radiobutton__label span {
        padding-left: 30px;
        font-size: 16px;
    }
    .Form-radiobutton__label span::before{
       width: 16px;
       height: 16px;
    }
   .Form-radiobutton__label span::after{
        left:1.5px;
        top:6px;
        width:8px;
        height:8px;
    }
    
    .Form-checkbox__label{
        grid-column: 1 / 3; 
    }
    .Form-checkbox__fake {
        align-items: flex-start;
    }
    .Form-checkbox__text{
        font-size: 16px;
        letter-spacing: 0px;
    }

    .Form-checkbox__fake::before{
        display:inline-block;
        margin-right:10px;
        z-index: 1;
        max-width: 17px;
        width: 34px;
        height: 17px;
    }
    .Form-checkbox__fake::after{
        top:5px;
        left:8px;
        width: 3px;
        height: 7px;
        content : "";
       
        border: 2px solid black;
        border-top: none;
        border-left: none;
        border-radius:1px;
    }
    
    .Form-checkbox__text-partTwo{
        padding-left: 3px;
    }

    .Form-button{
        grid-column: 1/2;
    }
    .Form-button__find-tour, .Form-button__reset{
        margin-top: -5px;
        width: 134px;
        height: 47px;
        font-size: 16px;
    }
    .Form-button__reset{
        margin-left: 1.7%;
        
    }
    .reviews-Title{
       width: 318px;
       height: 76px;
    }
    
    .reviews-subtitle{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        /*margin-top: 20px;*/
        margin-top: 95px;
        width:318px;
        height: 46px;
    }
        
    .reviews-review{
        display: flex;
        flex-direction: column;
        gap: 19px;
        margin-top: 50px;
        width: 88%; 
    }
    .reviews-review-card{
        position: relative;
        padding: 20px ;
        border-radius: 20px;
        font-size: 16px;
        line-height: 142%;
         
    }
    .reviews-card__info{
        display: flex;
        justify-content: space-between;
        margin-top: 59px;
      
    }
    .reviews-card__Tour{
        position: absolute;
        margin-top: 33px;
    }

    .reviews-card__PhotoUsers{
        margin-top: -20px;
        right:6%;
    }

    .Photos-Title{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 318px;
        height: 76px;
    }
    .Photos-subtitle{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        /*margin-top: 20px;*/
        margin-top: 95px;
        width:318px;
        height: 46px;
    }
    .Photos-Trip{
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding-left: 21px;
        padding-right: 21px;
      /*  max-width: 100%;*/
    }
    .Photos-Trip__first-row{
        display:grid;
        grid-gap: 18px;
        grid-template-columns: repeat(2, 1fr); 
        
    }
    .Photos-Trip__photo{
       /* width: 100%;*/
        height: 110px;
        border-radius: 20px;
        object-fit:cover;
    }
    .Photos-Trip__photo-SecondDelete{
        display: none;
        }
    .Photos-Trip__photo-FirstDelete{
        display: none;
    }
    .Photos-Trip__second-row{
        display:grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 18px;
    }
    .Photos-Trip__third-row{
        display:grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 18px;
    }
 
    .Stories-Title{
        width: 319px;
        height: 76px;
        margin-left: auto;
        margin-right: auto;
    }
    .Stories-subtitle{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        /*margin-top: 20px;*/
        margin-top: 95px;
        width:318px;
        height: 46px;
    }
    .Stories-cards{
        width:88%;
        margin: 0 auto;
        margin-top: 50px;
    }
    .Stories-card {
        position: relative;
        margin-top: 20px;
        border-radius: 20px;
        overflow: hidden;
      }
    .Stories-card__img{
        height: 455px;
        object-fit:cover;
    } 
    .Stories-scale {
      width: 100%;
      height: 455px;
      border-radius: 20px;
    }
    .Stories-scale::after{
        border-radius: 20px; 
  }
    .Stories-card__information{
        top:30px;
        left:30px;
    }
    .Stories-card__Title{
        width:50%;
    }
    .Stories-card__description{
        width:88%;
        height: 230px;
        margin-top: 20px;
    }
    .Stories-card__description-list{
        margin-top: 22.5px;
        margin-left: 23px;
       
    }
    .Stories-card__detailed{
        top:392px;
    }
    
    .Stories-card__button{
        padding: 7px 20px;
        border-radius: 20px;
    }
    .Stories-card__button-icon{
        padding-left: 13px;  
    }
    .Stories-card__SocialNetworks{
        display: none;
    }
    .Intelligence{
        flex-direction: column;
        margin: 75px auto;
        width:80%;
    }
    .Intelligence-description{
        text-align: center;
    }
    .Intelligence-img{
        width: 36.11vw;
        height: 27%;
        border-radius: 20px;
    }

    footer {
        height: 95px;
    }
    .Footer{
        justify-content: center;
        width: 360px;
    }
    .Footer-networks{
        margin-top: 7px;
    }
    .Footer-networks__option{
        margin-right: 15px;
    }

    .Footer-networks__text{
        margin-left: 5px;
    }

}