input[placeholder]          {text-indent: 16px;   transition: text-indent 0.2s ease;}
input::-moz-placeholder     {text-indent: 16px;   transition: text-indent 0.2s ease;} 
input:-moz-placeholder      {text-indent: 16px;   transition: text-indent 0.2s ease;} 
input:-ms-input-placeholder {text-indent: 16px;   transition: text-indent 0.2s ease;} 
:-ms-input-placeholder { color:#A6A6A6;}
::placeholder {color:#A6A6A6;} 

.caption {
   height: 100vh;
   overflow: hidden; 
} 

.caption_img {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.caption_block {
    margin: 25vh auto 0;
    color: #FFFFFF;
}

.caption_title {
    display: flex;
    align-items: center;
    text-align: center;
}

.caption_text {
    margin: 50px auto; 
    text-align: center;
    line-height: 1.5;
}

.caption_button {
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    background: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.2s  linear ;
}

.caption_button:active{ 
    background: #F8E6BE;
    color: #1B1F2B;  
}

.choose_tour__options {
    display:  flex;
    justify-content: center;
    flex-wrap: wrap; 
    /*margin-top:35px;
    margin-left:auto ;
    margin-right: auto;*/
    list-style: none;
}

.choose_tour__option_label{
    cursor: pointer;
}

.choose_tour__options_option:last-child {
    margin-right: 0;
}

.choose_tour__option_input {
    display: none;
}

.choose_tour__options input:checked + p {
    text-decoration:none;
    color: #EFA501;
}

.choose_tour__options p::after {
    display: block;
    margin-top: 5px;
    width: 0;
    height: 1px;
    content: "";
    transition: width  0.2s ease-in-out;
}
  
.choose_tour__options p:active::after {
    width: 100%;
    background-color: #EFA501;
    transition:none;
}

.choose_tour__options input:checked + p::after {
    width: 100%;
    background-color: #EFA501;
    transition:none;
}

.choose_tour__card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.choose_card__img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.choose_tour__card:hover .choose_card__img {
    transform: scale(1.2);
}

.choose_tour__card::after{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    content:''; 
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}

.choose_tour__card_info{
    position:absolute;
    top: 0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    color: #FFFFFF; 
    z-index: 3;  
}

.choose_tour__card_button{
    align-self: flex-start;
    color: #FFFFFF;
    transition: background-color 0.3s;
}

.choose_tour__cards:active .choose_tour__card_button:active{
    background-color: #EFA501;
    transition:none;
}

form{
    border-radius: 50px;
    background: #FFFFFF; 
}

form label {
    display: block;
}

input, 
select, 
textarea,
option{
    width: 100%;
    border: 1px solid #F4F0E9;
    background: #F9F7F4;
    color:#1B1F2B;
    transition: background-color 0.2s;
}

select{ 
    background-repeat: no-repeat;
    background-image: url("../assets/icon/ic-dropdown.svg");
    color:#A6A6A6;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select:hover,
select:active, 
select:focus{
    padding-right: 1em;
    outline: 1px solid #F4F0E9;
    background: #F4F0E9;
    background-repeat: no-repeat;
    background-position: calc(100% - 1em) 1.2em;
    background-size: 26px 26px;
    background-image: url("../assets/icon/ic-dropdown.svg");
}
    
select:focus{
    color: #1B1F2B;
}

option:checked{
    color: #3B7E7B;
}

.selected {
    color: black;
}
  
input[type=date] {
    text-transform: uppercase;
    transition: background-color 0.2s;
}

input[type = date]:invalid::-webkit-datetime-edit { color:#A6A6A6;}
input[type = date]::-webkit-calendar-picker-indicator{ display: none; }
input[type = date]:hover, select:hover{cursor: pointer;}
input[type = date]:focus{color: #1B1F2B;}

textarea{
    min-width: 100%;
    max-width: 100%;
}

input:hover, 
textarea:hover, 
input:focus,
textarea:focus,
input:active,
textarea:active{
    outline: 1px solid #F4F0E9;
    background-color: #F4F0E9;
}

.form__label_textarea, 
.form_radiobutton,
.form_checkbox__label{
    grid-column: 1 / 3;
}

.form_radiobutton__question{
    margin-bottom: 6px;
}

.form_radiobutton__position-yes{
    position: absolute;
}

.form_radiobutton__position-no{
    width: 50px;
    margin-left: 94px;
}

.form_radiobutton__label span {
    position:relative;
    display:flex;
    align-items:center;
    padding-left: 36px;
    font-size: 20px;
    font-weight: 400;
    line-height: 142%; 
    cursor: pointer;
}

.form_radiobutton__label input[type = "radio"]{
   position:absolute;
   width:1px;
   height:1px;
   opacity:0;
}

.form_radiobutton__label span::before{
   position: absolute;
   left: 1px;
   top: -1px;
   z-index: 1;
   display: inline-block;
   width: 22px;
   height: 22px;
   border: 2px solid black;
   border-radius: 50%;
   background-color: #FFFFFF;
   content : "";
}

.form_radiobutton__label span::after{
    position:absolute;
    left:3px;
    top:6px;
    z-index: 2;
    width:10px;
    height:11px;
    border-radius:100%;
    background-color:black;
    content : "";
    opacity:0;
    transform: translateX(50%);
}

.form_radiobutton__label input[type = "radio"]:checked + span::after {
   opacity:1;
}

input:checked + .form__radio-label::after{
    opacity: 1;
}

.form_checkbox__label{
    grid-column: 1 / 3; 
}

.form_checkbox__fake {
    position:relative;
    display:flex;
}

.form_checkbox__text{
    color: #A6A6A6;
    cursor: pointer;
}

.form_checkbox__label input[type = "checkbox"]{
   position:absolute;
   width:1px;
   height:1px;
   opacity:0;
}

.form_checkbox__fake::before{
   float: left;
   /*z-index: 1;*/
   display:block;
   width: 22px;
   height: 22px;
   margin-right:13px;
   border: 2px solid black;
   border-radius: 5px;
   background-color: #FFFFFF;
   content : "";
   cursor: pointer;
}

.form_checkbox__fake::after{
    position:absolute;
    z-index: 2;
    top: 5px;
    left: 9px;
    width: 5px;
    height: 10px;
    border: 3px solid black;
    border-radius:1.5px;
    border-top: none;
    border-left: none;
    content : "";
    opacity:0;
    transform: rotate(45deg); 
    cursor: pointer;
}

.form_checkbox__label input[type = "checkbox"]:checked + .form_checkbox__fake::after {
   opacity:1;
}

.form_checkbox__text-partTwo{
     padding-left: 4px;  
}

.form_checkbox__text a {
    position: relative;
    color: #1B1F2B;
    cursor: pointer;
    text-decoration: none;  
}

.form_checkbox__text-partTwo::after {
    position: absolute;
    left: 4px;
    bottom: 0;
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    content: '';
    transition: width 0.2s;
}
 
.form_button__find_tour, .form_button__reset{
    width: 235px;
    height: 58px;
    margin-top: 3px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    background: #286562;
    transition: background-color 0.3s;
}

.form_button__reset{
    color: #286562;
    background: #E0F0E5;
}

.form_button__find_tour:hover{cursor: pointer;}

.form_button__find_tour:active{
    background-color:#627F7E;
    transition:none;
}

.form_button__reset:hover{
    cursor: pointer;
}

.form_button__reset:active{ 
    background-color:#D9DFDB; 
    transition:none;
}

.reviews_title{
   /* display: flex;
    justify-content: center;
    width: 529px;
    height: 146px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;*/
}

/*.reviews_subtitle{
    display: flex;
    width:415px;
    height: 56px;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    color: #A6A6A6;
}*/

.reviews_review{
    display: grid; 
}

.reviews_review__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F4F0E9;
}

.reviews__card_info{
    display: flex;
    justify-content: space-between;
}

.reviews__card_customBr {
    content: ""; 
    display: block; 
}

.reviews-card__Tour{
    color: #A6A6A6;
}


.photos_trip{
    margin: 0, auto;
}

.photos_trip__first-row{
    display:grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.photos_trip__photo{
    width: 100%;
    border-radius: 50px;
    object-fit:cover;
}

.photos_trip__second-row{
    display:grid;
    grid-gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 30px;
}

.photos_trip__third-row{
    display:grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
}

.stories_card {
    position: relative;
    height: 568px;
    margin-bottom: 50px;
    border-radius: 55px;
    overflow: hidden;
    cursor: pointer;
}

.stories_card__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.stories_card__information{
    position:absolute;
    top: 0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 60px;
    color: #FFFFFF; 
    z-index: 3;  
}

.stories_card__detailed{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stories_card:hover .stories_card__img {
  transform: scale(1.2);
}

.stories_card::after{
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
      border-radius: 45px; 
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
      content:'';
}

.stories_card__button{
    padding: 7px 20px;
    margin: -7px -20px;
    border-radius: 50px;
    color: #FFFFFF;
    transition: background-color 0.3s;
}

.stories_card__button-icon{
    padding-left: 10px;  
}

.stories_card:active .stories_card__button:active{
    background-color: #EFA501;
    transition:none;
}

.stories_card__network{
    display: inline-block;
    margin-left: 34px;
}

.stories_card__social-networks li::after { 
    display: block;
    width: 0;
    height: 1px;
    background-color: white;
    color: #E0F0E5;
    content: "";
    transition: width 0.2s ease-in-out;
}
  
.stories_card__social-networks li:active::after {
    background-color:#EFA501;
}

.stories_card__network:active{
    color: #EFA501;
    transition:none;
}

.cta_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cta__img{
    width: 370px;
    height: 370px;
    border-radius: 50px;
}

.cta__text-email{
    color:#A6A6A6;
}

.cta__email{
    color:#1B1F2B;
    position: relative;
}
  
.cta__email::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1px;
    content: "";
    transition: width 0.2s ease-in-out;
}
    
.cta__email:active::after {
    color: #286562;
    background-color:  #286562;
    transition:none;
}

.cta__email:active{
    color: #286562;
    transition:none; 
}

footer {
   /* display: flex;
    align-items: center;
    height: 88px;*/
    background: #F4F0E9;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px; 
    flex-wrap: wrap;
}

.footer_text{
    color:#A6A6A6;
}

.footer_networks{
    display: flex;
    align-items: center;
    list-style: none;
}

.footer_networks__option{
    margin-right: 37px;
  /*  color:#A6A6A6;
    color:Black;*/
}

.footer_networks__option:last-child {
    margin-right: 0;
}

.footer_networks__text{
    display: inline-block;
    cursor: pointer;
}

.footer_networks__inst-img{margin-right: 9px;}

.footer_networks__facebook-img{margin-right: 10px;}

.footer_networks__vk-img{margin-right: 7px; }

.footer_networks__option::after{
    content: '';
    display: block;
   /* left: 7px;*/
    bottom: 0;
    width: 0;
    height: 1px;
    margin-left: 24%;
    transition: width 0.2s ease-in-out;
    cursor: pointer;
}

.footer_networks__inst-img,
.footer_networks__facebook-img,
.footer_networks__vk-img{
    cursor: pointer;
}

.footer_networks__option:active{
    color:  rgba(239, 165, 1, 1);
}

.footer_networks__option:active::after{
    width: 76%;
    background-color:  rgba(239, 165, 1, 1);     
}

@media screen and (min-width: 1240px){

    .caption_block {
        width: 768px;
    }

    .caption_text {
        width: 562px;
    }

    .caption_button:hover{ 
        background-color: #EFA501;
        color: #FFFFFF;
        cursor: pointer;    
    }

    .caption_button:active{ 
        background: #F8E6BE;
        color: #1B1F2B;  
    }

    .choose_tour__options{
       margin-bottom: 100px;
    }
  
    .choose_tour__options_option{
        margin-right:30px;
    }

    .choose_tour__options p:hover::after {
        width: 100%;
        background-color: black;
    }

    .choose_tour__cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }  

    .choose_tour__card {
        height: 531px;
        border-radius: 50px;
    }
    
    .choose_tour__cards::after{
        border-radius: 50px;
    }

    .choose_tour__card_info{
        padding: 50px;
    }

    .choose_tour__card_title{
        margin-bottom: 12px; 
    }

    .choose_tour__card_button{
        padding: 6px 20px;
        margin: -6px -20px;
        border-radius: 50px;
    }

    .choose_tour__card:hover .choose_tour__card_button{
        background-color:  #286562;
        cursor: pointer; 
    }

    .choose_tour__card_button_icon{
        padding-left: 10px;  
    }


   
   form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap:33px;
        row-gap: 30px;
       /* margin-top: 101px;*/
        padding: 70px;
    }

    form label {
        padding-top:2px;
    }

    input, 
    select, 
    textarea,
    option{
        height:68px;
        margin-top: 7px; 
        border-radius: 10px;
        line-height: 142%;
        font-weight: 400;
        font-size: 20px;
    }

    select{ 
        padding-left: 18px;
        padding-right: 1em;
        background-position: calc(100% - 1em) 1.2em;
        background-size: 26px 26px;     
    }

    input[type=date] {
        margin-top: 7px; 
        text-indent: 8px;
    }

    .form__comment{
        margin-top: 2px;
    }

    textarea{
        height:152px; 
        width: 1030px;
        min-height:152px;
        padding: 20px;  
    }

    .form_radiobutton__label span::before{
        left: 1px;
        top: 1px;
     }

    .form_radiobutton__label span::after{
        left:4px;
        top:8px;
    }

    .form_checkbox__text{
        margin-top: 1px;
        margin-left: 5px;
    }

    .form_checkbox__text-partTwo:hover:after {
        width: 100%;
    }

    .form_button{
        grid-column: 1 / 3;
    }

    .form_button__reset{
        margin-left: 25px;
    }

    .form_button__find_tour:hover{ background-color: #3B7E7B;}

    .form_button__reset:hover{ background-color: #F1F3F2;}

    .reviews_review{
        grid-gap: 30px;
        height: 673px;
        grid-template-columns: 1fr 1fr;
       /* margin-top: 99px;*/
    }

    .reviews_review__card{
        padding: 41px ;
        padding-top: 38px;
        border-radius: 50px;
    }

    .reviews__card_customBr {
        margin-top: -10px;
    }

    .reviews__card_text-ident {
        margin-top: 28px;
    }

    .reviews__card_photo-users{
        max-width: 75px;
        max-height: 75px;
        border-radius: 100px;
    }

    .photos_trip{
        margin: 0 auto;
        padding: 0 30px;
    }

    .photos_trip__photo{
        height: 301px;
    }

    .stories_card__title{
        margin-bottom: 37px;
    }
    
    .stories_card__description{
        max-width: 554px;   
    }
    
    .stories_card__description-list{
        margin-top: 37px;
        margin-left: 27px;
    }

    .stories_card:hover .stories_card__button{
        background-color:  #286562;
        cursor: pointer;  
    }

    .stories_card__social-networks li:hover::after {
        width: 100%;
    }

    .cta__text{
        padding-bottom:20px;
    }

    .cta__email:hover::after {
        width: 100%;
        background-color: black; 
    }

    .cta__email:active::after {
        width: 100%;
        background-color: rgba(40, 101, 98, 1); 
    }
     
    .footer_networks__option:hover::after{
        width: 76%;
        margin-left: 24%;
        background-color: black;      
    }

    .footer_networks__option:active::after{
        background-color:  rgba(239, 165, 1, 1);     
    }

}

@media screen and (min-width: 768px)and (max-width:1240px){ 

    input[placeholder]          {text-indent: 20px;   transition: text-indent 0.3s ease;}

    input::-moz-placeholder     {text-indent: 20px;   transition: text-indent 0.3s ease;} 

    input:-moz-placeholder      {text-indent: 20px;   transition: text-indent 0.3s ease;} 

    input:-ms-input-placeholder {text-indent: 20px;   transition: text-indent 0.3s ease;}  
    
    .caption_block {
        margin-top: 25vh;
        padding: 0 50px;
    }

    .caption_text {
       width: 442px;   
    }

    .choose_tour__options{
        margin-bottom: 100px;
     }

    .choose_tour__options_option{
        margin-right:30px;
    }

    .choose_tour__cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 18px; 
    }  

    .choose_tour__card {
        height: 531px;
        border-radius: 50px;
    }
    
    .choose_tour__card::after{
        border-radius: 50px;
    }

    .choose_tour__card_info{
        padding: 50px;
    }

    .choose_tour__card_title{
        margin-bottom: 14px;  
    }

    .choose_tour__card_button{
        padding: 6px 20px;
        margin: -6px -20px;
        border-radius: 50px;
    }

    .choose_tour__card_button_icon{
        padding-left: 10px;  
    }

    form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px 20px;
       /* margin-top: 101px;*/
        padding: 60px;
        border-radius: 50px;
        background: #FFFFFF;
    }

    input, 
    select, 
    textarea,
    option{
        width: 100%;
        height:68px;
        margin-top: 7px; 
        border: 1px solid #F4F0E9;
        border-radius: 10px;
        line-height: 142%;
        background: #F9F7F4;
        font-weight: 400;
        font-size: 20px;
        color:#1B1F2B;
        transition: background-color 0.2s;
    }

    select{ 
        padding-left: 19px; 
        padding-top: 5px; 
        background-position: calc(100% - 0.9em) 1.1em;
    }

    select:hover,
    select:active, 
    select:focus{
        background-position: calc(100% - 0.9em) 1.1em;
    }

    .form__dateFrom,
    .form__dateBefore{
        margin-top: 5px;
    }

    input[type=date] { 
        text-indent: 8px;
        margin-top:10px;
    }

    form label {
        padding-top:0;
    }

    input,select{
        margin-top: 7px; 
    } 

    textarea{
        padding: 20px;
        width: 798px;
        height: 152px;
        min-height: 152px;
    }

    .form_radiobutton{
        margin-top: 2px;
    }

    .form_radiobutton__label span::before{
        left: 1px;
        top: 2px;
     }

    .form_radiobutton__label span::after{
        top:9px;
        left:3px;
        width:11px;
        height:11px;
    }

    .form_checkbox__label{
       margin-top: 3px;
    }

    .form_checkbox__text-partTwo{
        padding-left: 5px;
    }

    .form_button{
        grid-column: 1 / 3;
    }

    .form_button__find_tour, .form_button__reset{
        margin-top: 4px;
    }

    .form_button__reset{
        margin-left: 24px;
    }
   
 /*   .reviews_subtitle{
        margin-top: 114px;
    }*/
 
    .reviews_review{ 
        grid-template-columns: 1fr 1fr;
        grid-gap: 18px;
       /* margin-top: 99px;*/
        min-height: 841px;
    }
 
     .reviews_review__card{
        padding: 42px 40px;
        border-radius: 50px;
    }

    .reviews__card_text-ident{
        margin-top: 28px;
    }

    .reviews__card_customBr {
        margin-top: -11px;
    }

    .reviews__card_photo-users{
        max-width: 75px;
        max-height: 75px;
        border-radius: 100px;
    }
  
    .photos_trip{
        width: 100%;
        padding:0 20px;
    }

    .photos_trip__first-row{
        display:grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    .photos_trip__photo-first-delete{
        display: none;
    }

    .photos_trip__photo{
        width: 100%;
        height: 301px;
        border-radius: 50px;
        object-fit:cover;
    }

    .photos_trip__second-row{
        display:grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 30px;
    }

    .photos_trip__third-row{
        display:grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 30px;
    }

   /* .stories-subtitle{
        margin-bottom: 100px;
    }*/

    .stories_card{
        margin-bottom: 50px;
    }

    .stories_card__title{
        margin-bottom: 37px;
    }
    
    .stories_card__description{
        max-width: 554px;   
    }
    
    .stories_card__description-list{
        margin-top: 28px;
        margin-left: 30px;
    }

    .cta__text{
        padding-bottom:20px;
    }

    .cta__img{
        width:36vw;
        height:45%;
    }

 /*   .footer{
        width: 1170px;
        max-width: 100%;
        padding: 0 53px;     
    }
*/
    .footer_networks__option{
        margin-right: 34px; 
    }

    .footer_networks__inst-img{margin-right: 10px;}

    .footer_networks__facebook-img{margin-right: 10px;}

    .footer_networks__vk-img{margin-right: 6px; }
   
}

@media screen and (max-width:768px){

    input[placeholder]          {text-indent: 9px;   transition: text-indent 0.3s ease;}

    input::-moz-placeholder     {text-indent: 9px;   transition: text-indent 0.3s ease;} 

    input:-moz-placeholder      {text-indent: 9px;   transition: text-indent 0.3s ease;} 

    input:-ms-input-placeholder {text-indent: 9px;   transition: text-indent 0.3s ease;}   

    .caption{
        display: flex;
        justify-content: center; 
        align-items: center;    
        height: 100vh;   
    }
   
    .caption_block {
        width: 568px;
        max-width: 100%;
        margin: 88px auto 0;    
    }

    .caption_text {
        margin: 40px auto;
        width:310px;
        max-width: 100%;
    }  

    .caption_button {
        margin: 2vh auto 0;
        padding: 5px 20px;
    }
    
    .choose_tour__options {
        gap: 10px;
        margin-bottom: 46px;
    }

    .choose_tour__options p::after {
        margin-top: 0;
    }

    .choose_tour__cards{
        display: grid;
        grid-gap: 18px;
    }  

    .choose_tour__card {
        height:318px;
        border-radius: 20px;
    }

    .choose_card__img{
        object-fit: cover;
    }
    
    .choose_tour__card::after{
        border-radius: 20px;
    }

    .choose_tour__card_info{
        padding: 25px;
    }

    .choose_tour__card_title br {
        display: none; 
    }

    .choose_tour__card_title{
        margin-bottom: 15px;  
    }

    .choose_tour__card_button{
        padding: 6px 20px;
        margin: -6px -20px;
        border-radius: 50px;
    }

    .choose_tour__card_button_icon{
        vertical-align: middle;
        padding-left: 13px; 
    }

    form{
       /* margin-top: 40px;*/
        padding: 20px 20px 40px;
        width: 100%;
        display: flex;
	    flex-direction: column;
	    gap: 33px;
        border-radius: 30px;
    }  
   
    form label {
        display: block; 
        padding-top:0;   
    }

    input, 
    select, 
    textarea,
    option{
        width: 100%;
        height:40px;
        margin-top: 7px; 
        border: 1px solid #F4F0E9;
        border-radius: 10px;
        line-height: 142%;
        background: #F9F7F4;
        font-weight: 400;
        font-size: 16px;
        color:#1B1F2B;
        transition: background-color 0.2s;
    }

    select{ 
        height: 46px;
        padding-left: 8px;
        outline: 1px solid #F4F0E9;
        background: #F4F0E9;
        background-repeat: no-repeat;
        background-position: calc(100% - 0.7em) 0.6em; 
        background-size: 26px 26px;
        background-image: url("../assets/icon/ic-dropdown.svg"); 
    }

    select:hover,
    select:active, 
    select:focus{
        background-position: calc(100% - 0.7em) 0.6em;
    }

    input[type=date] {
        margin-top: 10px; 
        font-size: 16px;
        text-indent: 3px;
        text-transform: uppercase;
    }

    textarea{
        padding: 10px;
        height: 132px;
        width: 278px;
        min-height:132px;
    }

    .form_radiobutton__question{
        margin-top: -8px; 
        margin-bottom: 9px;
        font-size: 16px; 
    }

    .form_radiobutton__position-no{
        margin-left: 81px;
        width: 50px;
    }

    .form_radiobutton__label span {
        padding-left: 30px;
        font-size: 16px;
    }

    .form_radiobutton__label span::before{
       left: 1px; 
       top: 2px;
       width: 16px;
       height: 16px;
    }

   .form_radiobutton__label span::after{
        left:3px;
        top:8px;
        width:8px;
        height:8px;
    }
    
    .form_checkbox__label{
        grid-column: 1 / 3; 
    }

    .form_checkbox__fake {
        align-items: flex-start;
    }

    .form_checkbox__text{
        margin-top: -4px;
        font-size: 16px;
        letter-spacing: 0px;
    }

    .form_checkbox__fake::before{
        display:inline-block;
        margin-top: -4px;
        margin-right:10px;
        z-index: 1;
        max-width: 17px;
        width: 34px;
        height: 17px;
    }

    .form_checkbox__fake::after{
        top:1px;
        left:8px;
        width: 3px;
        height: 7px;
        content : "";
        border: 2px solid black;
        border-top: none;
        border-left: none;
        border-radius:1px;
    }
    
    .form_checkbox__text-partTwo{
        padding-left: 4px;
    }

    .form_button{
        grid-column: 1/2;
    }

    .form_button__find_tour, .form_button__reset{
        margin-top: -2px;
        width: 134px;
        height: 47px;
        font-size: 16px;
    }

    .form_button__reset{
        margin-left: 6px;   
    }
    .reviews_review{ 
        gap: 20px;
        min-height: 1000px;
    }

    .reviews_review__card{
        padding: 20px ;
        border-radius: 20px;
    }

    .reviews__card_text-ident{
       /* margin-top: 26px;*/
    }

   .reviews__card_info{ 
       /* margin-top: 59px;*/
    }

    .reviews__card_photo-users{
        max-width: 75px;
        max-height: 75px;
        border-radius: 100px;
    }


    .photos_trip{
       /* width: 100%;
        margin-top: 50px;*/
        padding: 0 21px;
    }

    .photos_trip__first-row{
        display:grid;
        grid-gap: 18px;
        grid-template-columns: repeat(2, 1fr); 
    }

    .photos_trip__photo{
        min-height: 110px;
        border-radius: 20px;
        object-fit:cover;
    }

    .photos_trip__photo-second-delete{
        display: none;
    }

    .photos_trip__photo-first-delete{
        display: none;
    }

    .photos_trip__second-row{
        display:grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 18px;
    }
    
    .photos_trip__third-row{
        display:grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 18px;
    }
 
  /*  .stories-Title{
        margin-left: auto;
        margin-right: auto;
        width: 319px;
        height: 76px;
    }*/

  /*  .stories-subtitle{   
        margin-left: auto;
        margin-right: auto;
        margin-top: 95px;
        margin-bottom: 40px;
        width: 318px;
        display: flex;
    }*/

    .stories_card{
        height: 455px;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    
    .stories_card::after{
        border-radius: 20px;
    }

    .stories_card__img{
        height: 455px;
        object-fit:cover;
    } 

    .stories_card__information{
        padding: 30px;
    }

    .stories_card__title{
        margin-bottom: 22px;
    }

    .stories_card__title-line-break{
        display: block; 
    }
    
    .stories_card__description-list{
        margin-top: 24px;
        margin-left: 23px; 
    }

    .stories_card__button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px; 
    }

    .stories_card__button-icon{
        vertical-align: middle;
    }

    .stories_card__social-networks{
        display: none;
    }

    .cta_container{
        flex-direction: column;
    }

    .cta__description{
        text-align: center;
    }

    .cta__text{
        padding-bottom:20px;
    }

    .cta__img{
        width: 36vw;
        height: 27%;
        border-radius: 20px;
    }

    .footer {
        display:block;
        text-align:center;
        height: 95px;
        padding: 21px 0;
    }

  /*  .footer{
        justify-content: center;
        width: 360px;
        max-width: 100%;
        padding: 0 21px;  
    }
*/
    .footer_networks{
        margin-top: 7px;
        justify-content: center;
    }

    .footer_networks__option{
        margin-right: 21px;
    }

    .footer_networks__option::after{
        margin-left: 18%;
    }

    .footer_networks__option:active{
        color:  rgba(239, 165, 1, 1);
    }

    .footer_networks__option:active::after{
        width: 82%;
        background-color:  rgba(239, 165, 1, 1);     
    }

    .footer_networks__inst-img{margin-right: 3px; width: 11px; height: 11px;}

    .footer_networks__facebook-img{margin-right: -1px; width:6px; height: 14px;}

    .footer_networks__vk-img{margin-right: -1px; width: 15px; height: 10px; }

}